@model IEnumerable<MVC.Models.Employee>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Index</h2>
    <br />
    <br />
    @Html.ActionLink("Create Employee", "Create")
    <br />
    <br />
    <div id="loademployee">
        @{Html.RenderAction("_EmpList");}
    </div>
</div>
